.signup-login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}